<h2><a href="/"><i class="edit-btn-collapse material-icons">keyboard_arrow_left</i></a>Partie {{game.name}}</h2>

<a class="waves-effect waves-light btn modal-trigger right-link" href="#add">
    <i class="material-icons left">add_circle_outline</i>
    Nouveau tour
</a>

<div id="add" class="modal">
    <div class="modal-content">
        {{> tarot }}
    </div>
</div>


<h3>Tours</h3>
<ul class="collapsible">
    {{#each game.rounds}}
    <li>
        <a href="#!" class="secondary-content"><i class="edit-btn-collapse material-icons">edit</i></a>
        <div class="collapsible-header">
            <b>#{{@index}} </b>
            &nbsp;&nbsp;
            {{params.player}}<i class="material-icons">person</i>  
            {{params.called}}<i class="material-icons">person_outline</i>
            ({{params.contrat}})
            {{#if won}}
            <span class="new badge" data-badge-caption="Gagné"></span>
            {{else}}
            <span class="new badge red" data-badge-caption="Perdu"></span>
            {{/if}}
        </div>
        <div class="collapsible-body">
            <span>{{#each journal}} <p>{{.}}</p> {{/each}}</span>
        </div>
    </li>
    {{/each}}
</ul>

<h3>Scores</h3>

<table class="score-table">
    <thead>
        <tr>
            <th>#</th>
            {{#each game.players}}
            <th>{{name}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each game.rounds}}
        <tr>
            <td>{{@index}}</td>
            {{#each playersScores}}
            <td class="{{#ifGt mod 0}}bonus{{else}}malus{{/ifGt}}">{{mod}}</td>
            {{/each}}
        </tr>
        {{/each}}
        <tr>
            <td class="total">Total</td>
            {{#each game.players}}
            <td class="total {{#ifGt score 0}}bonus{{else}}malus{{/ifGt}}">{{score}}</td>
            {{/each}}
        </tr>
    </tbody>
</table>

<h3>Graphique</h3>


