<h2><a href="/"><i class="edit-btn-collapse material-icons">keyboard_arrow_left</i></a>{{game.name}} {{#if game.disabled}}<i class="material-icons">block</i>{{/if}}
{{#if game.wikiID}}<i style="font-size: 9px;color: #a8a8a8;">source: <a href="https://fr.wikipedia.org/?curid={{game.wikiID}}" target="_blank">Wikipedia</a></i>{{/if}}</h2>


{{#if error}}
<blockquote>
    {{error}}
</blockquote>
{{/if}}

<a class="waves-effect waves-light right-link btn button-reset-game-params" href="#add">
    <i class="material-icons left">add_circle_outline</i>
    Nouveau tour
</a>

<div id="params-modal" class="modal game-params-modal">
    <div class="modal-content">
        {{> tarot }}
    </div>
</div>


<h3>Tours</h3>
<ul class="collapsible">
    {{#each game.rounds}}
    <li>
        <a href="#edit" edit-id="{{id}}" current-data="{{json params}}" class="secondary-content button-edit-game-params"><i class="edit-btn-collapse material-icons">edit</i></a>
        <div class="collapsible-header">
            <b class="{{#if won}}bonus{{else}}malus{{/if}}">#{{add1 @index}} </b>
            &nbsp;&nbsp;
            {{params.player}}<i class="material-icons">person</i>  
            {{#if params.called}}{{params.called}}<i class="material-icons">person_outline</i>{{/if}}
            ({{params.contrat}}{{#if params.regret}} avec regret{{/if}})
            
            
        </div>
        <div class="collapsible-body">
            <h5>Paramètres</h5>
            <pre>{{json params 4}}</pre>
            <h5>Journal</h5>
            <blockquote class="journal">{{#each journal}}{{.}}<br>{{/each}}</blockquote>
        </div>
    </li>
    {{/each}}
</ul>

<h3>Scores</h3>

<table class="score-table">
    <thead>
        <tr>
            <th>#</th>
            {{#each game.players}}
            <th>{{name}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each game.rounds}}
        <tr>
            <td>{{add1 @index}}</td>
            {{#each playersScores}}
            <td class="{{#ifGt mod 0}}bonus{{else}}malus{{/ifGt}}">{{mod}}</td>
            {{/each}}
        </tr>
        {{/each}}
        <tr>
            <td class="total">Total</td>
            {{#each game.players}}
            <td class="total {{#ifGt score 0}}bonus{{else}}malus{{/ifGt}}">{{score}}</td>
            {{/each}}
        </tr>
        <tr>
            <th></th>
            {{#each game.players}}
            <th>{{name}}</th>
            {{/each}}
        </tr>
    </tbody>
</table>

<h3>Graphiques</h3>

{{#each charts}}
<h4>{{label}}</h4>
    <canvas id="chart_{{@index}}" class="chart" 
            chart-type="{{type}}" 
            chart-data="{{json data}}" 
            chart-options="{{json options}}" 
            width="400" height="300"></canvas>
{{/each}}

<h4>Options</h4>
{{#ifEmpty game.rounds}}
<button class="waves-effect waves-light right-link btn" onclick="gameManager.deleteGame('{{../game.id}}')">
    <i class="material-icons left">delete_forever</i>
    Supprimer la partie
</button>
{{/ifEmpty}}
{{#if game.disabled}}
<button class="waves-effect waves-light right-link btn" onclick="gameManager.toggleDisabledGame('{{game.id}}')">
    <i class="material-icons left">block</i>
    Réactiver la partie
</button>
{{else}}
<button class="waves-effect waves-light right-link btn" onclick="gameManager.toggleDisabledGame('{{game.id}}')">
    <i class="material-icons left">check_circle</i>
    Désactiver la partie
</button>
{{/if}}
<br><br>


