<h1>Groupe {{group.name}}</h1>

{{#if error}}
    <div class="warning error">{{error}}</div>
{{/if}}

<a class="button" href="/new/game">Nouvelle partie</a>

<div class="hideable-section hidden">
    <div class="title">
        <img class="icon" src="/icons/game.png">
        Parties
    </div>
    <div class="content">
        {{#each group.games}}
        <a href="/game/{{name}}?id={{id}}">{{name}}</a>
        {{/each}}
    </div>
</div>

<div class="hideable-section hidden">
    <div class="title">
        <img class="icon" src="/icons/players.png">
        Joueurs
    </div>
    <div class="content">
        <ul>
            {{#each group.players}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>
</div>