<h2>Groupe {{group.name}}</h2>

{{#if error}}
<blockquote>
    {{error}}
</blockquote>
{{/if}}

<a class="waves-effect waves-light btn" href="/new/game"><i class="material-icons left">add_circle_outline</i>Nouvelle partie</a>

<h2>
    Parties
</h2>

{{#each games}}
{{date}}
<div class="collection">
    
    {{#each games}}
    <a class="collection-item" href="/game/{{name}}?id={{id}}">
        {{name}}
        {{#if players}}
        {{#each players}}
            <span class="new badge hide-on-small-only player" data-badge-caption="{{name}}"></span>
        {{/each}}
        <span class="new badge grey hide-on-med-and-up" data-badge-caption="{{#each players}}{{name}} - {{/each}}"></span>
        {{/if}}
    </a>
    {{/each}}
</div>
{{/each}}

<div class="filter-panel">
    <form method="GET" action="/">
        <input placeholder="2018-03" id="month" type="month" class="validate" name="month" pattern="\d{4}-\d{2}">
        <button class="waves-effect waves-light btn"><i class="material-icons left">search</i>Rechercher</button>
    </form>
</div>

<h2>Joueurs</h2>
<ul class="collapsible">
{{#each group.players}}
    <li>
        <div class="collapsible-header"><i class="material-icons">timeline</i>{{name}}</div>
        <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
        </div>
    </li>
{{/each}}
</ul>
