<h2>Groupe {{group.name}}</h2>

{{#if error}}
<blockquote>
    {{error}}
</blockquote>
{{/if}}

<a class="waves-effect waves-light btn" href="/new/game"><i class="material-icons left">add_circle_outline</i>Nouvelle partie</a>

<h2>Parties</h2>
<div class="collection">
{{#each group.games}}
    <a class="collection-item" href="/game/{{name}}?id={{id}}">
        <i class="material-icons left">create</i>
        {{name}}
        {{#each players}}
            <span class="new badge" data-badge-caption="{{.}}"></span>
        {{/each}}
    </a>
{{/each}}
</div>


<h2>Joueurs</h2>
<ul class="collapsible">
{{#each group.players}}
    <li>
        <div class="collapsible-header"><i class="material-icons">timeline</i>{{name}}</div>
        <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
        </div>
    </li>
{{/each}}
</ul>
