<!DOCTYPE html>

<html lang="fr">
    <head>
		<title>Tarot{{titleSuffix}}</title>
		
        <meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="Content-Language" content="fr">
        <meta name="theme-color" content="#26a69a">
        
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link rel="manifest" href="/manifest/manifest.json">
        <link rel="stylesheet" href="/css/style.css">
        <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
		{{#each additionalCSS}}
		 <link rel="stylesheet" href="{{.}}">
		{{/each}}
        <meta name="description" content="{{description}}"/>
    </head>
    
    <body>
        <main class="container">
        {{{body}}}
        </main>
        
        
        <footer class="page-footer">
            <div class="container center">
            © Copyright HCarriere 2018 
			<a href="https://github.com/HCarriere/tarot/issues">Une suggestion? N'hésitez pas !</a>
            </div>
        </footer>
        
        <!-- Copyright HCarriere 2018 -->
        <script>
        if('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/sw.js')
            .then(function() { console.log("Service Worker Registered"); });
        }
        </script>
        <script type="text/javascript" src="/js/lib/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/js/lib/materialize.min.js"></script>
        <script type="text/javascript" src="/js/pseudoRandom.min.js"></script>
        <script type="text/javascript" src="/js/scripts.js"></script>
        {{#each additionalJS}}
        <script type="text/javascript" src="{{.}}"></script>
        {{/each}}
        
    </body>
    
</html>