<h2>Nouvelle partie</h2>

{{#if error}}
<blockquote>
    {{error}}
</blockquote>
{{/if}}

<form method="POST" action="/new/game" class="row z-depth-1" id="new-game-form">
    <div class="row">
        <div class="input-field col s10 offset-s1">
            <p class="caption">Nom de la partie 
                {{#if defaultName}}<i style="font-size: 9px;color: #a8a8a8;">source: <a href="https://fr.wikipedia.org/?curid={{defaultName.id}}" target="_blank">Wikipedia</a></i>{{/if}}
            </p>
            <input value="{{defaultName.title}}" id="name" name="name" type="text" class="validate" required>
            <input value="{{defaultName.title}}" name="originalWikiName" type="hidden">
            <input value="{{defaultName.id}}" name="originalWikiID" type="hidden">
        </div>

        <div class="switch col s10 offset-s1">
            <p class="caption">Nombre de joueurs</p>
            <span>
                <label>
                    <input value="4" name="playersNumber" type="radio" />
                    <span>4</span>
                </label>
            </span>
            <span>
                <label>
                    <input value="5" name="playersNumber" type="radio" checked/>
                    <span>5</span>
                </label>
            </span>
        </div>

        <div class="col s10 offset-s1">
            <p class="caption">Nouveaux joueurs</p>
            <div class="chips new-player-selector"></div>
        </div>
        <input id="newPlayers" type="text" name="newPlayers" class="hide">

        <div class="switch col s10 offset-s1">
            <p class="caption">Joueurs existants</p>
            {{#each group.players}}
            {{#if disabled}}{{else}}
            <span>
                <label>
                    <input type="checkbox" value="{{name}}" name="players"/>
                    <span>{{name}}</span>
                </label>
            </span>    
            {{/if}}
            {{/each}}
        </div>
    </div>
    
    <div class="row">
    <button type="submit" class="waves-effect waves-light btn offset-s1 col">Nouvelle partie !</button> 
    </div>
   <!-- 
    <input type="submit" value="Nouvelle partie !" class="button">-->
</form>