<h1>Nouvelle partie</h1>

{{#if error}}
    <div class="warning error">{{error}}</div>
{{/if}}

<form method="POST" action="/new/game">
    
    <div class="input-component text">
        <label>Nom</label>
        <input type="text" name="name" value="{{defaultName}}">
        <div class="info"></div>
    </div>
    
    <div class="input-component">
        <label>Nombre de joueur</label>
        4 : <input type="radio" name="playersNumber" value="4">
        <!-- Sorry JCN ! -->
        5 : <input type="radio" name="playersNumber" value="5" checked>
        <div class="info"></div>
    </div>
    
    <div class="input-component text">
        <label>Joueurs</label>
        Nouveaux joueurs
        <input type="text" name="newPlayers" placeholder="Joueur1 Joueur2 Joueur3...">
        <br>
        Joueurs existants <br>
        {{#each group.players}}
        <label class="input-players" for="player_{{name}}">
            <input type="checkbox" name="players" value="{{name}}" id="player_{{name}}">
            <div class="player">{{name}}</div>
        </label>
        {{/each}}
    </div>
    
    <input type="submit" value="Nouvelle partie !" class="button">
</form>